.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: #535353;
}
.chakraUiContainer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__vEyf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__bKWyo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__kpvWh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiHeading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iQitn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiHStack__wZvZt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiText__viz2C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ecc0U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiButton__l0Z23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1MzLp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__dsBr2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__tw6S4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiFormControl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiFormLabel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vlTq6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.passwordField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiHStack__r90J4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiCheckbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3Fl1F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiButton__eogMf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__s5AH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiStack___7UZ2H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiButton__kc7W4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jv6Tr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiHStack___10XSp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiDivider__uifpG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiText__d5IfQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vilpN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiDivider__qlkxA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.oAuthButtonGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
