.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.root > *) {
  grid-column: 4;
}
.chakraUiButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: #ff11fb;
  width: 162px;
  height: 89px;
}
.pricingWithCornerBadge:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-yY8UXDfJuNHorM);
  min-width: 0;
}
.signUpForm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.showcaseOnColoredBackground:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.showcaseGrid:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footerWithFourColumns:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
