.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#ffffff, #ffffff), #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.root > *) {
  grid-column: 4;
}
.loginWithCentredForm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiContainer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__iFbF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 448px;
  height: 48px;
  color: #3182ce;
}
.chakraUiBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__ts3Hw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__n1VDh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiFormControl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiFormLabel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pybse {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiInput:global(.__wab_instance) {
  object-fit: cover;
  width: 368px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(202, 212, 223, 1);
  border-radius: 8px;
}
.passwordField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiHStack__jVEj8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiCheckbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gTzJr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiButton__kh5W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__f2GEt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiStack__do89Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiButton__nXr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__m9JTw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiHStack__aCobf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiDivider__pz2Yh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiText__uj5U3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nsjTe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiDivider__eXBps:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.oAuthButtonGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__deTL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiStack__dfpKc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiHeading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wXt6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiHStack__rcEXi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiText__y9COq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uaMva {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiButton___6PBwZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lWjca {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.divchakraStack {
  width: 448px;
  height: 612px;
  display: block;
}
.divchakraStack2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
}
.divchakraStack2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.divchakraStack2 > :global(.__wab_flex-container) > *,
.divchakraStack2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divchakraStack2 > :global(.__wab_flex-container) > picture > img,
.divchakraStack2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__iAwx5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__e2Hcp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3182ce;
  width: 448px;
  height: 48px;
  display: block;
  flex-shrink: 0;
}
.divchakraStack3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.divchakraStack3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.divchakraStack3 > :global(.__wab_flex-container) > *,
.divchakraStack3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divchakraStack3 > :global(.__wab_flex-container) > picture > img,
.divchakraStack3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.heading2LogInToYourAccount {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: rgba(22, 24, 34, 1);
  position: relative;
}
.pchakraText {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 107.779px;
  padding-right: 107.22px;
}
.text___5Z0M0 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  position: relative;
}
.divcssK7Rgns {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 4px 4px rgba(44, 54, 71, 0.1))
    drop-shadow(0px 0px 0.5px rgba(44, 54, 71, 0.05));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 178px;
  left: 0px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 32px 40px;
}
.divchakraStack4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.divchakraStack4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.divchakraStack4 > :global(.__wab_flex-container) > *,
.divchakraStack4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divchakraStack4 > :global(.__wab_flex-container) > picture > img,
.divchakraStack4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.divchakraStack5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.divchakraStack5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.divchakraStack5 > :global(.__wab_flex-container) > *,
.divchakraStack5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divchakraStack5 > :global(.__wab_flex-container) > picture > img,
.divchakraStack5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.group {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.group > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.group > :global(.__wab_flex-container) > *,
.group > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group > :global(.__wab_flex-container) > picture > img,
.group > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 6px;
}
.labelEmail {
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 21px;
  color: rgba(44, 54, 71, 1);
  position: relative;
}
.input {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(202, 212, 223, 1);
  width: 368px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 8px;
}
.group2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.group2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.group2 > :global(.__wab_flex-container) > *,
.group2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group2 > :global(.__wab_flex-container) > picture > img,
.group2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.labelPassword {
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 21px;
  color: rgba(44, 54, 71, 1);
  position: relative;
}
.divchakraInputGroup {
  width: 368px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.input2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(202, 212, 223, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}
.buttonRevealPasswordSvg {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  left: 328px;
  overflow: hidden;
}
.svg__eZQew {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #2b6cb0;
  width: 20px;
  height: 20px;
  display: block;
  top: 0px;
  left: 0px;
}
.divchakraStack6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 0.08px;
}
.divchakraStack6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 125.639px);
  width: calc(100% + 125.639px);
}
.divchakraStack6 > :global(.__wab_flex-container) > *,
.divchakraStack6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divchakraStack6 > :global(.__wab_flex-container) > picture > img,
.divchakraStack6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 125.639px;
}
.label {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 1.279px;
}
.label > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.label > :global(.__wab_flex-container) > *,
.label > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label > :global(.__wab_flex-container) > picture > img,
.label > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.spanchakraCheckboxControl {
  background: rgba(48, 129, 205, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(48, 129, 205, 1);
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px;
}
.svg2 {
  width: 12px;
  height: 10px;
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  overflow: hidden;
}
.svg__qEi6Z {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 12px;
  height: 10px;
  display: block;
  top: 0px;
  left: 0px;
}
.text__mYxDb {
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(44, 54, 71, 1);
  position: relative;
}
.buttonForgotPassword {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(42, 107, 175, 1);
  position: relative;
}
.divchakraStack7 {
  width: 368px;
  height: 148px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.divchakraStack8 {
  width: 368px;
  height: 20px;
  display: block;
  position: absolute;
  top: 64px;
  left: 0px;
}
.separator {
  transform: translate(0px, -0.5px);
  height: 1px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 245px;
}
.orContinueWith {
  position: absolute;
  top: 0px;
  left: 131px;
  width: 107px;
  height: 19px;
  transform: translate(-0.33099999999998886px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ibFnb {
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(73, 84, 103, 1);
}
.separator2 {
  transform: translate(0.3300000000000125px, -0.5px);
  height: 1px;
  display: block;
  position: absolute;
  top: 10px;
  left: 245px;
  right: 0px;
}
.button {
  background: rgba(48, 129, 205, 1);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 10px 161.339px 10px 161.66px;
}
.text__m312N {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.group3 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 108px;
  left: 0px;
  flex-direction: row;
}
.group3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.group3 > :global(.__wab_flex-container) > *,
.group3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group3 > :global(.__wab_flex-container) > picture > img,
.group3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 10px 46px;
}
.svg3 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.212px, 0px);
  width: 19.574px;
  height: 19.999px;
  display: block !important;
  top: 0px;
  left: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 10px 46px;
}
.svg4 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__pgRx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #03a9f4;
  width: 20px;
  height: 20px;
  display: block;
  top: 0px;
  left: 0px;
}
.button4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 10px 46px;
}
.svg5 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__ho0Xy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #4a5568;
  width: 20px;
  height: 20px;
  display: block;
  top: 0px;
  left: 0px;
}
