.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  grid-row-gap: 100px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.root > *) {
  grid-column: 4;
}
.chakraUiHeading__zTEfQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__c8Mdv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiHeading__zndZi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__qJnn0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navbarWithRightCta:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiHeading___66QRd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__ehhmV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chakraUiHeading__isSx6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__t5M3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.mobileNavbarWithSimpleDropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiHeading__vdLx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__bYYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navbarWithFullWidthSubmenu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiHeading___5JhLk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__pEjB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navbarWithTabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiHeading__erOts:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__aIpyY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navbarWithSubmenu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiHeading__ivDxe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___6W30H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navbarWithFullButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
