.tag__container {
  container: {
    background: "btn-primary-default-background-color";
    bgColor: "btn-primary-default-background-color"
  }
};
.tag__sm {
    container: {
      min-height: "tag-sm-height";
      font-size: "btn-xs-text-size";
    }
  }

.tag__md {
    container: {
      min-height: "tag-md-height";
      font-size: "btn-sm-text-size";
    }
  }

.tag__lg {
    container: {
      min-height: "tag-lg-height";
      font-size: "btn-md-text-size";
    }
  }