.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 100px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 24px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.chakraUiHeading__waWgh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__ucc3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__oDb8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__neP4Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__c30Kb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px;
}
.freeBox__c30Kb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__c30Kb > :global(.__wab_flex-container) > *,
.freeBox__c30Kb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c30Kb > :global(.__wab_flex-container) > picture > img,
.freeBox__c30Kb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.chakraUiButton__h1YT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7Iupc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton__skTi8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wo9UP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton___1ZoHu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__l95Ar {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton__kPpgs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xwhUi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__aYk18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__rymde {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__mNbNo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px;
}
.freeBox__mNbNo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__mNbNo > :global(.__wab_flex-container) > *,
.freeBox__mNbNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mNbNo > :global(.__wab_flex-container) > picture > img,
.freeBox__mNbNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.chakraUiButton___7RkOh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rLehw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton__dvVvI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jNooV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton__cuF47:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zzuQl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__uDdQa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__i7Izv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__l0Vno {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px;
}
.freeBox__l0Vno > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__l0Vno > :global(.__wab_flex-container) > *,
.freeBox__l0Vno > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l0Vno > :global(.__wab_flex-container) > picture > img,
.freeBox__l0Vno
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.freeBox__gFqW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__gFqW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__gFqW > :global(.__wab_flex-container) > *,
.freeBox__gFqW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gFqW > :global(.__wab_flex-container) > picture > img,
.freeBox__gFqW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.chakraUiHeading__mKv4P:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__oo3I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton__ziAzs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___5JvoL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__jTkg5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__c2Lr3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraDocs__rC27Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wlpvQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__wlpvQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__wlpvQ > :global(.__wab_flex-container) > *,
.freeBox__wlpvQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wlpvQ > :global(.__wab_flex-container) > picture > img,
.freeBox__wlpvQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.chakraUiHeading__erOKe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___7JOJm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton___2ZUux:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__qnd80 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__u6TMc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__chWeu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraDocs__zd3Ds:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sLxYq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__sLxYq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__sLxYq > :global(.__wab_flex-container) > *,
.freeBox__sLxYq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sLxYq > :global(.__wab_flex-container) > picture > img,
.freeBox__sLxYq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.chakraUiHeading__zixBf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__jzE8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton___5QaIa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__stSL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__tsOju:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__zysrk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraDocs__cEdB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
