.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 100px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 24px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.chakraUiHeading___1FeIz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___1C9Xz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__fYyn4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__e6MVa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiText__u6BeP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___08WPw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kxS0H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiHeading__trDt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__wslkp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiText__yrhlk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__nG4Qs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiSwitch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiAccordion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chakraUiAccordionItem__scma6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiAccordionButton__lpj03:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xU9Zg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.chakraUiAccordionIcon___2HHHt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiAccordionPanel__t29SP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiText__cKe1V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mcYl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.chakraUiAccordionItem___1BKhs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiAccordionButton__fj8Re:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hnak2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.chakraUiAccordionIcon__qsawq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiAccordionPanel__jbEw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiText___99J1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__e8XSp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
