.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.tokenName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.textValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.color:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  border-width: 1px;
}
.size:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  border-width: 1px;
}
.border:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.opacity:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: linear-gradient(#00000040, #00000040), #ffffff;
  border-width: 1px;
}
.space:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.typography:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
