.text__container {
  font-family: "text-font-family";
  line-height: "text-line-height";
  color: "text-text-color";
};
/*Four sizes: xs,sm,md and large
/*why 4 ? as the docs say 10

.text__xs {
    font-size: "text-xs-text-size"
  }


.text__sm {
    font-size: "text-sm-text-size"
  }


.text__md {
    font-size: "text-md-text-size"
  }


.text__lg {
    font-size: "text-lg-text-size"
  }


.text__xl {
    font-size: "text-xl-text-size"
  }


  "2xl": {
    font-size: "text-2xl-text-size"
  }


  "3xl": {
    font-size: "text-3xl-text-size"
  }


  "4xl": {
    font-size: "text-4xl-text-size"
  }


  "5xl": {
    font-size: "text-5xl-text-size"
  }


  "6xl": {
    font-size: "text-6xl-text-size"
  }


};
/*Two variants: outline and solid


  light: {
    font-weight: "text-light-font-weight"
  }


  regular: {
    font-weight: "text-regular-font-weight"
  }


  semiBold: {
    font-weight: "text-semi-bold-font-weight"
  }


  bold: {
    font-weight: "text-bold-font-weight"
  }


}

/*The default size and variant values




